<launch>

  <arg name="can_port" default="can0" />

  <include file="$(find piper)/launch/start_single_piper.launch">
    <arg name="can_port" value="$(arg can_port)" />
  </include>

  <node name="teleop_single_piper_node" pkg="oculus_reader" type="teleop_single_piper.py" output="screen" />

  <node name="pub_pose_node" pkg="oculus_reader" type="pub_pose.py" output="screen" />

</launch>
